body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3C3B4C;
    color: #fff;
}
body > header {
    border-top: 3px solid #D27881;
    background-color: #4D4D65;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

body > footer {
    padding: 20px 0;
    font-size: 10px;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 10px auto;
    background-color: #4D4D65;
}
.container header {
    padding: 10px 5px;
    background-color: #525C75;
}
.container section {
    margin-top: 10px;
}

.container section .colors-legend {
    margin-left: 10px;
}

.axis text, .colors-legend text {
    fill: #fff;
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
}
.tooltip {
    position: absolute;
    display: none;
    background-color: #444559;
    padding: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
}
.tooltip.active {
    display: block;
}
.tooltip .temperature_variance {
    font-size: 10px;
}